<div class="intro-head">
	<h3>UREMBO SALON</h3>
	<h4>Managment System</h4>
	<div class="head-urembo">
		<div class="row">
			<div class="col s12 m6">
				<a class="waves-effect waves-light btn-large" href="/clients/new"><i class="material-icons right">account_circle</i>Add a Client</a>
			</div>
			<div class="col s12 m6">
				<a class="waves-effect waves-light btn-large" href="/clients"><i class="material-icons right">library_add</i>View Clients</a>
			</div>
		</div>
	</div>
</div>